@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: "Pixel";
  src: url("../public/fonts/PublicPixel.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

.font-pixel {
  font-family: "Pixel";
}

@font-face {
  font-family: "Sketch";
  src: url("../public/fonts/Sketch.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

.font-sketch {
  font-family: "Sketch";
}

/* Fonts */
@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

.font-general-variable {
  font-family: "Raleway";
}

@font-face {
  font-family: "Raleway-Italic";
  src: url("../public/fonts/Raleway-Italic.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
}

.font-general-variable-italic {
  font-family: "Raleway-Italic";
}

@font-face {
  font-family: "Raleway-Extralight";
  src: url("../public/fonts/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

.font-general-extralight {
  font-family: "Raleway-Extralight";
}

@font-face {
  font-family: "Raleway-ExtralightItalic";
  src: url("../public/fonts/Raleway-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}

.font-general-extralight-italic {
  font-family: "Raleway-ExtralightItalic";
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../public/fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

.font-general-light {
  font-family: "Raleway-Light";
}

@font-face {
  font-family: "Raleway-LightItalic";
  src: url("../public/fonts/Raleway-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

.font-general-light-italic {
  font-family: "Raleway-LightItalic";
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("../public/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

.font-general-regular {
  font-family: "Raleway-Regular";
}

@font-face {
  font-family: "Raleway-Italic";
  src: url("../public/fonts/Raleway-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

.font-general-italic {
  font-family: "Raleway-Italic";
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("../public/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

.font-general-medium {
  font-family: "Raleway-Medium";
}

@font-face {
  font-family: "Raleway-MediumItalic";
  src: url("../public/fonts/Raleway-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

.font-general-medium-italic {
  font-family: "Raleway-MediumItalic";
}

@font-face {
  font-family: "Raleway-Semibold";
  src: url("../public/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

.font-general-semibold {
  font-family: "Raleway-Semibold";
}

@font-face {
  font-family: "Raleway-SemiboldItalic";
  src: url("../public/fonts/Raleway-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}

.font-general-semibold-italic {
  font-family: "Raleway-SemiboldItalic";
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../public/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.font-general-bold {
  font-family: "Raleway-Bold";
}

@font-face {
  font-family: "Raleway-BoldItalic";
  src: url("../public/fonts/Raleway-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

.font-general-bold-italic {
  font-family: "Raleway-BoldItalic";
}

/* Scroll to top style */
.scrollToTop {
  @apply bg-[#242424];
  @apply text-white;
  position: fixed;
  width: 100%;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 999;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 1;
}

.scrollToTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
